<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./partials/bootstrap") %>
    <title>Product List</title>
</head>

<body>
    <%- include("./partials/navbar") %><br>
    
    <div class="col-md-3 mb-3">
        <h2>Product List</h2>
        <br>
        <a class="btn btn-success" href="/products/add" role="button">Add Product</a>
    </div>

    <br><br>

    <div class="card">
        <div class="card-body">
          <table class="table table-hover">
            <thead class="table table-bordered">
                <tr class="table-danger">
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Expiry Date</th>
                    <th scope="col">Price</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody class="table table-bordered">
                <% if (products.length !==0){ products.forEach(product => { %>
                    <tr>
                        <td><%= product.name %></td>
                        <td><%= product.category %></td>
                        <td><%= product.expiryDate %></td>
                        <td><%= product.price %></td>
                        <td>
                            <a type="button" class="btn btn-warning" href='/products/<%= product.id %>/edit' role="button">Edit</a>
                            <a type="button" class="btn btn-danger" href='/products/<%= product.id %>/delete' role="button" onclick="return confirm('Are you sure you want to delete the item?')">Delete</a>
                            <a type="button" class="btn btn-info" href='/products/<%= product.id %>/stock' role="button">Warehouse Stocks</a>
						</td>
                    </tr>
                    <% }) %>
                <%} else {%>
                  <tr>
                  <td colspan="5">
                    <h3>Data Warehouse tidak bisa ditampilkan karena masih kosong</h3>
                  </td>  
                  </tr>
                  <%}%>
            </tbody>
          </table>
        </div>
    </div>

    <%- include("./partials/footer") %>
</body>

</html>